POSTGRES_LOCAL_DB=mnss_local
POSTGRES_LOCAL_USER=mnss
POSTGRES_LOCAL_PASSWORD=mnss

POSTGRES_ONLINE_DB=mnss_online
POSTGRES_ONLINE_USER=mnss
POSTGRES_ONLINE_PASSWORD=mnss

RABBITMQ_LOCAL_USER=mnss
RABBITMQ_LOCAL_PASSWORD=mnss
RABBITMQ_ONLINE_USER=mnss
RABBITMQ_ONLINE_PASSWORD=mnss

MNSS_LOCAL_API_PORT=8080
MNSS_ONLINE_API_PORT=8081
