SPRING_PROFILES_ACTIVE=online

MNSS_ONLINE_DB_URL=jdbc:postgresql://postgres-online:5432/mnss_online
MNSS_ONLINE_DB_USER=nova_alianca
MNSS_ONLINE_DB_PASSWORD=change_me

MNSS_ONLINE_RABBITMQ_HOST=rabbitmq-online
MNSS_ONLINE_RABBITMQ_PORT=5672
MNSS_ONLINE_RABBITMQ_USER=nova_alianca
MNSS_ONLINE_RABBITMQ_PASSWORD=change_me

MNSS_ONLINE_REDIS_HOST=redis-online
MNSS_ONLINE_REDIS_PORT=6379

ONLINE_API_PORT=8080

MNSS_ONLINE_JWT_SECRET=change_me
SYNC_MASTER_SECRET=change_me
MNSS_STORE_001_SECRET=change_me
MNSS_DEFAULT_STORE_ID=store-001
MNSS_PAYMENT_WEBHOOK_SECRET=change_me
WHATSAPP_PROVIDER=twilio
WHATSAPP_VERIFY_TOKEN=change_me

SPRING_SECURITY_USER_NAME=online_admin
SPRING_SECURITY_USER_PASSWORD=change_me

SITE_URL=https://padarianovaalianca.com.br
API_URL=https://api.padarianovaalianca.com.br
ADMIN_URL=https://admin.padarianovaalianca.com.br

BACKUP_RETENTION_DAYS=15
